.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - 60px);
    width: 100%;
    overflow: hidden;
  }
  
  .customer-list {
    width: 30%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .customer-list::-webkit-scrollbar-track {
    background-color: #F5F5F5;
  }
  
  .customer-list::-webkit-scrollbar {
    width: 5px;
  }
  
  .customer-list::-webkit-scrollbar-thumb {
    background-color: #979696;
  }

  .information-indicator-wrapper, .items-indicator-wrapper {
    position: absolute;
    bottom: 10px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .information-indicator, .items-indicator {
    background-color: rgba(0, 0, 0, 0.438);
    width: auto;
    color: #fff;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 12px;
    letter-spacing: 1px;
  }

  .items-indicator-wrapper {
    justify-content: flex-end;
    padding-right: 20px;
  }
  .items-indicator {
    font-size: 10px;
  }